<div class="topnav">
    <h1 class="topTitle font-bold text-center"> CDIStat <br/> Reborn 💻 <p class="topSubtitle">Le meilleur logiciel <br />de statistiques pour un cdi. </p>
    </h1>
    <!--<div id="topBtns">
        <a class="topBtn" href="./admin.html" disabled="disabled">Espace Doc.</a>
        <a class="topBtn" href="./repair.html" disabled="disabled">Dépannage</a>
    </div>-->
</div>