<title>CDIStat Reborn</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

    body {
        padding: 0;
        margin: 0;
        background-color: #f5f8fa;
        font-family: 'Work Sans', sans-serif;
        color: #333;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    .topnav {
        overflow: hidden;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        animation: fade 1s alternate;
        background-color: rgba(0, 0, 0, 0.123);
        box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }

    .topTitle {
        margin-top: 10px;
        float: center;
        color: #333;
        font-size: 110%;
    }

    .topSubtitle {
        font-size: 80%;
    }

    #topBtns {
        padding-right: 10%;
    }

    .topBtn {
        animation: fade 3s alternate;
        top: 50%;
        transform: translate(0%, 50%);
        padding: 14px 16px;
        float: right;
        color: #ddd;
        text-align: center;
        font-size: 17px;
    }

    .topBtn:hover {
        color: grey;
    }

    .topnav a {
        text-decoration: none;
    }

    #currentTimeSlots {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .panel {
        position: absolute;
        display: block;
        min-width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #333;
        padding: 5px;
        text-align: center;
        animation: fade 2s alternate;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
    }

    .panel input {
        margin-top: 2px;
        background-color: white;
        color: black;
        border-radius: 5px;
        border: 1px solid #ccc; /* Bordure de l'input plus claire */
        padding: 8px; /* Espacement interne de l'input */
    }

    .panel button {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 5px;
        background-color: #007bff;
        box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6);
        margin-top: 2px;
        width: 100%;
    }

    .panel button:disabled {
        background-color: grey;
    }

    .panel button:disabled:hover {
        box-shadow: none; 
    }

    .panel button:hover {
        box-shadow:
            inset 4px 4px 6px rgba(0, 17, 255, 0.37),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
    }

    .panel button:active {
        box-shadow:
            inset 4px 4px 6px rgba(255, 255, 100, 0.5),
            inset -2px -2px 3px rgba(0, 0, 0, 0.4);
        border: 0;
    }

    select {
        appearance: none;
        /*  safari  */
        -webkit-appearance: none;
        width: 100%;
        margin-bottom: 3px;
        box-shadow:
            inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
        font-size: 1.15rem;
        text-align: center;
        padding: 2px;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 0.25rem;
    }

    select::before,
    select::after {
        --size: 0.3rem;
        content: "";
        position: absolute;
        right: 1rem;
        pointer-events: none;
    }

    select::before {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-bottom: var(--size) solid black;
        top: 40%;
    }

    select::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid black;
        top: 55%;
    }

    .suggestion {
        background-color: white;
        cursor: pointer;
        margin-top: 2px;
        font-weight: bold;
        border: solid;
        border-width: 1px;
        border-radius: 1px;
    }

    .item {
        display: inline-block;
        border-style: solid;
        border-radius: 5px;
        min-width: 300px;
        min-height: 250px;
        padding: 15px;
    }

    .itemBtn {
        background-color: green;
        padding: 2px;
        border-style: solid;
        border-color: grey;
        margin: 2px;
    }

    .itemBtn:hover {
        background-color: grey;
        cursor: pointer;
        color: white;
    }

    .itemBtn:active  {
        background-color: darkgrey;
    }

    img {
        width: 300px;
        height: 250px;
    }

    footer {
        animation: fade 1s alternate;
        color: white;
        display: block;
        background-color: black;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        width: 100%;
        border-top: 1px solid white;
    }

    footer p {
        text-align: center;
    }

    .calendar {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: auto;
        max-width: 800px;
        margin: 0 auto;
    }

    .weekdays {
        width: auto;
        display: flex;
    }

    .day {
        width: auto;
        flex: 1;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .days {
        width: auto;
        display: flex;
    }

    .hour {
        width: auto;
        cursor: pointer;
        padding: 5px;
        border: 1px solid #ccc;
        margin: 2px;
    }

    .clicked {
        color: #eee;
        background-color: #333;
    }

    /* Styles pour les écrans mobiles */
    @media screen and (max-width: 768px) {
        .topnav {
            text-align: center;
        }

        .topTitle {
            float: none;
            margin-left: 0;
            font-size: 150%; /* Ajustez la taille de la police pour mobile */
        }

        .topSubtitle {
            font-size: 100%; /* Ajustez la taille de la police pour mobile */
        }

        #topBtns {
            padding-right: 0;
        }

        .topBtn {
            display: block; /* Afficher chaque bouton sur une ligne séparée */
            margin: 10px auto;
            font-size: 18px; /* Ajustez la taille de la police pour mobile */
        }

        .container {
            font-size: 90%; /* Ajustez la taille de la police pour mobile */
        }

        .panel {
            max-width: 100%; /* Ajustez la largeur maximale pour mobile */
            min-height: 150px; /* Ajustez la hauteur minimale pour mobile */
            padding: 10px; /* Ajustez le rembourrage pour mobile */
            margin: 10px 0; /* Ajustez la marge pour mobile */
        }

        img {
            max-width: 100%; /* Ajustez la largeur des images pour mobile */
            height: auto; /* Ajustez la hauteur des images pour mobile */
        }
    }
</style>