<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="h-screen overflow-hidden">

    <header class="bg-white rounded-xl">
        <%- include('../../partials/header'); %>
    </header>

    <main>
        <div class="panel p-10 md:w-96 bg-white bg-opacity-90 rounded-xl shadow-2xl">
            <h1>Configurer le mot de passe pour débloquer les inscriptions des élèves</h1>
            <p style="color:red" id="error"></p>
            <input id="password" type="password" placeholder="Mot de passe">
            <br />
            <input id="confirmPassword" type="password" placeholder="Confirmer le mot de passe">
            <br />
            <button class="w-full bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="passbtn">Enregistrer le mot de passe</button>
        </div>
    </main>
    <script type="text/javascript">
        document.getElementById("passbtn").onclick = function() {
            if (document.getElementById('password').value == document.getElementById('confirmPassword').value) {
                location.href = "/config?web=" + document.getElementById('password').value;
            } else {
                document.getElementById('error').innerText = "Les deux mots de passe ne correspondent pas.";
            }
        };
    </script>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>