<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../../partials/header'); %>
    </header>

    <main>
        <div class="panel">
            <h1>Configurer le mot de passe pour accéder à l'espace administrateur</h1>
            <p style="color:red" id="error"></p>
            <input id="password" type="password" placeholder="Mot de passe">
            <br />
            <input id="confirmPassword" type="password" placeholder="Confirmer le mot de passe">
            <br />
            <button id="passbtn">Enregistrer le mot de passe</button>
        </div>
    </main>
    <script type="text/javascript">
        document.getElementById("passbtn").onclick = function() {
            if (document.getElementById('password').value == document.getElementById('confirmPassword').value) {
                location.href = "/config?admin=" + document.getElementById('password').value;
            } else {
                document.getElementById('error').innerText = "Les deux mots de passe ne correspondent pas.";
            }
        };
    </script>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>