<!DOCTYPE html>
<html lang="en">
    <head><%- include('../../partials/head'); %> </head>
    <body class="h-screen overflow-hidden">
        <header class="bg-white rounded-xl">
            <%- include('../../partials/header'); %>
        </header>
        <main>
            <div class="panel p-10 md:w-96 bg-white bg-opacity-90 rounded-xl shadow-2xl" style="width: auto;">
                <h2>Entrez les plages horaires pour chaque jour de la semaine :</h2>
                <div class="calendar">
                    <div class="weekdays">
                        <div class="day">Lundi</div>
                        <div class="day">Mardi</div>
                        <div class="day">Mercredi</div>
                        <div class="day">Jeudi</div>
                        <div class="day">Vendredi</div>
                        <div class="day">Samedi</div>
                    </div>
                    <div class="days">
                        <!-- Lundi -->
                        <div class="day">
                            <div class="hour" id="0/07:15-08:10" onclick="hourClick('0/07:15-08:10')">07:15 - 08:10</div>
                            <div class="hour" id="0/08:10-09:05" onclick="hourClick('0/08:10-09:05')">08:10 - 09:05</div>
                            <div class="hour" id="0/09:05-10:00" onclick="hourClick('0/09:05-10:00')">09:05 - 10:00</div>
                            <div class="hour" id="0/10:15-11:10" onclick="hourClick('0/10:15-11:10')">10:15 - 11:10</div>
                            <div class="hour" id="0/11:10-12:05" onclick="hourClick('0/11:10-12:05')">11:10 - 12:05</div>
                            <div class="hour" id="0/12:05-13:00" onclick="hourClick('0/12:05-13:00')">12:05 - 13:00</div>
                            <div class="hour" id="0/13:00-13:55" onclick="hourClick('0/13:00-13:55')">13:00 - 13:55</div>
                            <div class="hour" id="0/13:55-14:50" onclick="hourClick('0/13:55-14:50')">13:55 - 14:50</div>
                            <div class="hour" id="0/15:05-16:00" onclick="hourClick('0/15:05-16:00')">15:05 - 16:00</div>
                            <div class="hour" id="0/16:00-16:55" onclick="hourClick('0/16:00-16:55')">16:00 - 16:55</div>
                            <div class="hour" id="0/16:55-17:55" onclick="hourClick('0/16:55-17:55')">16:55 - 17:50</div>
                            <div class="hour" id="0/18:05-19:00" onclick="hourClick('0/18:05-19:00')">18:05 - 19:00</div>
                        </div>
                        <!-- Mardi -->
                        <div class="day">
                            <div class="hour" id="1/07:15-08:10" onclick="hourClick('1/07:15-08:10')">07:15 - 08:10</div>
                            <div class="hour" id="1/08:10-09:05" onclick="hourClick('1/08:10-09:05')">08:10 - 09:05</div>
                            <div class="hour" id="1/09:05-10:00" onclick="hourClick('1/09:05-10:00')">09:05 - 10:00</div>
                            <div class="hour" id="1/10:15-11:10" onclick="hourClick('1/10:15-11:10')">10:15 - 11:10</div>
                            <div class="hour" id="1/11:10-12:05" onclick="hourClick('1/11:10-12:05')">11:10 - 12:05</div>
                            <div class="hour" id="1/12:05-13:00" onclick="hourClick('1/12:05-13:00')">12:05 - 13:00</div>
                            <div class="hour" id="1/13:00-13:55" onclick="hourClick('1/13:00-13:55')">13:00 - 13:55</div>
                            <div class="hour" id="1/13:55-14:50" onclick="hourClick('1/13:55-14:50')">13:55 - 14:50</div>
                            <div class="hour" id="1/15:05-16:00" onclick="hourClick('1/15:05-16:00')">15:05 - 16:00</div>
                            <div class="hour" id="1/16:00-16:55" onclick="hourClick('1/16:00-16:55')">16:00 - 16:55</div>
                            <div class="hour" id="1/16:55-17:55" onclick="hourClick('1/16:55-17:55')">16:55 - 17:50</div>
                            <div class="hour" id="1/18:05-19:00" onclick="hourClick('1/18:05-19:00')">18:05 - 19:00</div>
                        </div>
                        <!-- Mercredi -->
                        <div class="day">
                            <div class="hour" id="2/07:15-08:10" onclick="hourClick('2/07:15-08:10')">07:15 - 08:10</div>
                            <div class="hour" id="2/08:10-09:05" onclick="hourClick('2/08:10-09:05')">08:10 - 09:05</div>
                            <div class="hour" id="2/09:05-10:00" onclick="hourClick('2/09:05-10:00')">09:05 - 10:00</div>
                            <div class="hour" id="2/10:15-11:10" onclick="hourClick('2/10:15-11:10')">10:15 - 11:10</div>
                            <div class="hour" id="2/11:10-12:05" onclick="hourClick('2/11:10-12:05')">11:10 - 12:05</div>
                            <div class="hour" id="2/12:05-13:00" onclick="hourClick('2/12:05-13:00')">12:05 - 13:00</div>
                            <div class="hour" id="2/13:00-13:55" onclick="hourClick('2/13:00-13:55')">13:00 - 13:55</div>
                            <div class="hour" id="2/13:55-14:50" onclick="hourClick('2/13:55-14:50')">13:55 - 14:50</div>
                            <div class="hour" id="2/15:05-16:00" onclick="hourClick('2/15:05-16:00')">15:05 - 16:00</div>
                            <div class="hour" id="2/16:00-16:55" onclick="hourClick('2/16:00-16:55')">16:00 - 16:55</div>
                            <div class="hour" id="2/16:55-17:55" onclick="hourClick('2/16:55-17:55')">16:55 - 17:50</div>
                            <div class="hour" id="2/18:05-19:00" onclick="hourClick('2/18:05-19:00')">18:05 - 19:00</div>
                        </div>
                        <!-- Jeudi -->
                        <div class="day">
                            <div class="hour" id="3/07:15-08:10" onclick="hourClick('3/07:15-08:10')">07:15 - 08:10</div>
                            <div class="hour" id="3/08:10-09:05" onclick="hourClick('3/08:10-09:05')">08:10 - 09:05</div>
                            <div class="hour" id="3/09:05-10:00" onclick="hourClick('3/09:05-10:00')">09:05 - 10:00</div>
                            <div class="hour" id="3/10:15-11:10" onclick="hourClick('3/10:15-11:10')">10:15 - 11:10</div>
                            <div class="hour" id="3/11:10-12:05" onclick="hourClick('3/11:10-12:05')">11:10 - 12:05</div>
                            <div class="hour" id="3/12:05-13:00" onclick="hourClick('3/12:05-13:00')">12:05 - 13:00</div>
                            <div class="hour" id="3/13:00-13:55" onclick="hourClick('3/13:00-13:55')">13:00 - 13:55</div>
                            <div class="hour" id="3/13:55-14:50" onclick="hourClick('3/13:55-14:50')">13:55 - 14:50</div>
                            <div class="hour" id="3/15:05-16:00" onclick="hourClick('3/15:05-16:00')">15:05 - 16:00</div>
                            <div class="hour" id="3/16:00-16:55" onclick="hourClick('3/16:00-16:55')">16:00 - 16:55</div>
                            <div class="hour" id="3/16:55-17:55" onclick="hourClick('3/16:55-17:55')">16:55 - 17:50</div>
                            <div class="hour" id="3/18:05-19:00" onclick="hourClick('3/18:05-19:00')">18:05 - 19:00</div>
                        </div>
                        <!-- Vendredi -->
                        <div class="day">
                            <div class="hour" id="4/07:15-08:10" onclick="hourClick('4/07:15-08:10')">07:15 - 08:10</div>
                            <div class="hour" id="4/08:10-09:05" onclick="hourClick('4/08:10-09:05')">08:10 - 09:05</div>
                            <div class="hour" id="4/09:05-10:00" onclick="hourClick('4/09:05-10:00')">09:05 - 10:00</div>
                            <div class="hour" id="4/10:15-11:10" onclick="hourClick('4/10:15-11:10')">10:15 - 11:10</div>
                            <div class="hour" id="4/11:10-12:05" onclick="hourClick('4/11:10-12:05')">11:10 - 12:05</div>
                            <div class="hour" id="4/12:05-13:00" onclick="hourClick('4/12:05-13:00')">12:05 - 13:00</div>
                            <div class="hour" id="4/13:00-13:55" onclick="hourClick('4/13:00-13:55')">13:00 - 13:55</div>
                            <div class="hour" id="4/13:55-14:50" onclick="hourClick('4/13:55-14:50')">13:55 - 14:50</div>
                            <div class="hour" id="4/15:05-16:00" onclick="hourClick('4/15:05-16:00')">15:05 - 16:00</div>
                            <div class="hour" id="4/16:00-16:55" onclick="hourClick('4/16:00-16:55')">16:00 - 16:55</div>
                            <div class="hour" id="4/16:55-17:55" onclick="hourClick('4/16:55-17:55')">16:55 - 17:50</div>
                            <div class="hour" id="4/18:05-19:00" onclick="hourClick('4/18:05-19:00')">18:05 - 19:00</div>
                        </div>
                        <!-- Samedi -->
                        <div class="day">
                            <div class="hour" id="5/07:15-08:10" onclick="hourClick('5/07:15-08:10')">07:15 - 08:10</div>
                            <div class="hour" id="5/08:10-09:05" onclick="hourClick('5/08:10-09:05')">08:10 - 09:05</div>
                            <div class="hour" id="5/09:05-10:00" onclick="hourClick('5/09:05-10:00')">09:05 - 10:00</div>
                            <div class="hour" id="5/10:15-11:10" onclick="hourClick('5/10:15-11:10')">10:15 - 11:10</div>
                            <div class="hour" id="5/11:10-12:05" onclick="hourClick('5/11:10-12:05')">11:10 - 12:05</div>
                            <div class="hour" id="5/12:05-13:00" onclick="hourClick('5/12:05-13:00')">12:05 - 13:00</div>
                            <div class="hour" id="5/13:00-13:55" onclick="hourClick('5/13:00-13:55')">13:00 - 13:55</div>
                            <div class="hour" id="5/13:55-14:50" onclick="hourClick('5/13:55-14:50')">13:55 - 14:50</div>
                            <div class="hour" id="5/15:05-16:00" onclick="hourClick('5/15:05-16:00')">15:05 - 16:00</div>
                            <div class="hour" id="5/16:00-16:55" onclick="hourClick('5/16:00-16:55')">16:00 - 16:55</div>
                            <div class="hour" id="5/16:55-17:55" onclick="hourClick('5/16:55-17:55')">16:55 - 17:50</div>
                            <div class="hour" id="5/18:05-19:00" onclick="hourClick('5/18:05-19:00')">18:05 - 19:00</div>
                        </div>
                    </div>
                    <button class="w-full bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="savebtn">Enregister</button>
                </div>
            </div>
        </main>
        <script type="text/javascript">
            function hourClick(slots) {
                var hour = document.getElementById(slots);
                if (hour.classList.contains("clicked")) {
                    fetch("/config?state=1&timeSlots=" + slots)
                    .catch(error => {console.error('Erreur:', error);});
                    hour.classList.remove("clicked");
                } else {
                    fetch("/config?state=0&timeSlots=" + slots)
                    .catch(error => {console.error('Erreur:', error);});
                    hour.classList.add("clicked");
                }
            }
            document.getElementById("passbtn").onclick = function() {
                if (document.getElementById('password').value == document.getElementById('confirmPassword').value) {
                    location.href = "/config?state=2";
                } else {
                    document.getElementById('error').innerText = "Les deux mots de passe ne correspondent pas.";
                }
            };
        </script>
        <footer><%- include('../../partials/footer'); %> </footer>
    </body>
</html>