<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="h-screen overflow-hidden">

    <header class="bg-white rounded-xl">
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="panel p-10 md:w-96 bg-white bg-opacity-90 rounded-xl shadow-2xl">
            <input id="password" type="password" placeholder="Mot de passe">
            <br />
            <button class="w-full bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="passbtn">Entrer</button>
        </div>
    </main>
    <script type="text/javascript">
        function sha256(inputString) {
            const buffer = new TextEncoder("utf-8").encode(inputString);
            return crypto.subtle.digest("SHA-256", buffer).then(hash => {
                return Array.prototype.map.call(new Uint8Array(hash), x => ('00' + x.toString(16)).slice(-2)).join('');
            });
        }
        document.getElementById("passbtn").onclick = function() {
            sha256(document.getElementById('password').value).then(hash => {
                location.href = "/register?password=" + hash;
            });
        };
    </script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>