<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="h-screen overflow-hidden">

    <header class="bg-white rounded-xl">
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div id="currentTimeSlots"></div>
        <div class="panel p-10 md:w-96 bg-white bg-opacity-90 rounded-xl shadow-2xl" id="registrationPanel">
            <input id="name" type="text" placeholder="Your name">
            <div id="suggestions"></div>
            <br />
            <select class="select" name="activities" id="activities">
                <option value="">Choisis une activité</option>
                <option value="schoolwork">Travail Scolaire</option>
                <option value="reading">Lecture</option>
                <option value="games">Jeux de société</option>
                <option value="media">Atelier Médias</option>
                <option value="personal">Travail Personnel</option>
                <option value="other">Autre</option>
            </select>
            <br />
            <button class="w-full bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="registerbtn" disabled>S'enregistrer</button>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script type="text/javascript">
        fetch("/timeSlots")
            .then(response => response.json())
            .then(data => {
                if (!data) {
                    // document.querySelector('#registrationPanel').style.display = "none";
                } else {
                    var currentTimeSlots = document.getElementById("currentTimeSlots");
                    currentTimeSlots.innerHTML = `<p>Vous pouvez vous inscrire dans la plage horaire : ${data.ouverture} - ${data.fermeture}<p/>`;
                }
            })
            .catch(error => {
                console.error('Erreur lors de la récupération de la place horaire:', error);
            });

        document.getElementById("name").addEventListener("input", function() {
            document.querySelector('#registerbtn').disabled = true;
            var name = this.value.trim();
            if (name.length > 0) {
                fetch("/search?lastName=" + name)
                    .then(response => response.json())
                    .then(data => {
                        var suggestionsDiv = document.getElementById("suggestions");
                        suggestionsDiv.innerHTML = "";
                        if (data.length > 0) {
                            data.forEach(student => {
                                suggestionsDiv.innerHTML += "<div class='suggestion' data-nom='" + student.Nom + "' data-prenom='" + student.Prenom + "' data-classe='" + student.Classe + "'>" + student.Nom + " " + student.Prenom + " - Classe: " + student.Classe + "</div>";
                            });

                            // Ajouter un événement de clic à chaque suggestion
                            var suggestionItems = document.querySelectorAll('.suggestion');
                            suggestionItems.forEach(item => {
                                item.addEventListener('click', function() {
                                    document.querySelector('#registerbtn').disabled = false;
                                    var nom = this.getAttribute('data-nom');
                                    var prenom = this.getAttribute('data-prenom');
                                    var classe = this.getAttribute('data-classe');
                                    document.getElementById('name').value = nom + " " + prenom + " " + classe;
                                    suggestionsDiv.innerHTML = "";
                                });
                            });
                        } else {
                            suggestionsDiv.innerHTML = "<div>Aucun résultat trouvé.</div>";
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération des suggestions:', error);
                    });
            } else {
                document.getElementById("suggestions").innerHTML = "";
            }
        });
    </script>

</body>

</html>